/* Footer */
.footerContainer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(24, 23, 23);
    height: 70px;
    position: fixed;
    z-index: 1000;
    padding: 15px 0;
}

.left {
    padding: 10px;
}

.left .social {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.left .social img {
    background-color: aliceblue;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

@media (max-width: 768px) {
    .footerContainer {
        height: 50px;
        padding: 10px;
    }
}